.pdf {
    border: 5px solid black;
    width: 64.5%;
    height: fit-content;
    margin-left: 25%;
    position: absolute;
    top: 14.5%;
    border-radius: 10px;
}

.pdf h1 {
    padding: 10px;
    background-color: darkgray;
    color: white;
    font-weight: bolder;
}